*~
local.mk
build/
tags
.DS_Store
Makefile
node_modules/
examples/node/svgdump/
examples/node/pdf2png/*.png
/.idea/.gitignore
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/pdf.js.iml
/.idea/vcs.xml
/web/Admission Agreement.pdf
/web/Invite A Friend Fields._2.pdf
/web/LogBook7.5cm.pdf
